@use '../styles/abstracts/vars';
@use '../styles/abstracts/mixins';

.div {
	position: relative;
	&.height-1x {
		min-height: 100vh;
	}
	&.height-2x {
		min-height: 200vh;
	}
	&.height-3x {
		min-height: 300vh;
	}
	@include mixins.alignItems();
	@include mixins.justifyContent();
	@include mixins.flexDirection();
	@include mixins.textAlign();
	@include mixins.marginAndPadding();
	&.row {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -.5rem;
	}
	&.col {
		width: 100%;
		padding-left: .5rem;
		padding-right: .5rem;
		@include mixins.breakpoint(sm) {
			width: 50%;
		}
		@include mixins.breakpoint(md) {
			width: 33.3%;
		}
	}
	&.wp-block-group {
		//padding: 1rem;
	}
}
.full_screen {
	width: 100%;
	height: 100vh;
	
	//align-items: center;
	
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.teal {
	background-color: vars.$color_teal;
}
.white {
	background-color: #ffffff;
}

